a, a:hover {
    text-decoration: none !important;
}

.card_btn_remove {
    position: absolute;
    top: 0;
    right: 0;
}

.draganddrop-pointer {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 25px;
    z-index: 9999;
}